<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Description of new sound asset</h1>

<!-- Description form -->
<form action="" method="post" name="description" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Basic description</h3>
    </div>
    <div class="panel-body">
      <fieldset class="form-group">
        {{ form.name(class_='form-control', placeholder='Name of asset') }}
        {% for error in form.name.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}
      </fieldset>
      <fieldset class="form-group">
        <label for="project">Project</label>
        {{ form.project(class_='form-control') }}
        {% for error in form.project.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
      <fieldset class="form-group">

        {% for radio_item in form.sound_type %}
        <label class="radio-inline">
          {{ radio_item }} {{ radio_item.label }}
        </label>
        {% endfor %}
        {% for error in form.sound_type.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
      <fieldset class="form-group">
        <label for="sound_family">Family</label>
        {{ form.sound_family(class_='form-control') }}
        {% for error in form.sound_family.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>

      <fieldset class="form-group">
        <label for="exampleTextarea">Description</label>
        <!-- <textarea class="form-control" id="exampleTextarea" rows="3">Beep-like sound that gives a feeling of happiness. Not very long in duration. Wooden sound. It should give a sense of elegance, and it should sound worthy.</textarea> -->
        {{ form.description(class_='form-control', rows='6') }}
        {% for error in form.description.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>

      <link href="/static/css/bootstrap-tagsinput.css" rel="stylesheet">
      <link href="/static/css/bootstrap-tagsinput-additional.css" rel="stylesheet">
      <script src="/static/js/bootstrap-tagsinput.min.js"></script>
      <script src="/static/js/typeahead.bundle.js"></script>

      <fieldset class="form-group">

        {{ form.tags(class_='form-control', id='tags', placeholder='Add tags', **{'data-role':'tagsinput'}) }}
        {% for error in form.tags.errors %}
          <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>

      <script>
        var tags = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: {
              url: '/static/tags.json',
              cache: false
          }
        });
        tags.initialize();

        var elt = $('#tags');
        elt.tagsinput({
          itemValue: 'value',
          itemText: 'text',
          typeaheadjs: {
            name: 'tags',
            displayKey: 'text',
            source: tags.ttAdapter()
          }
        });
      </script>

      {# <fieldset class="form-group">
        <label for="sounds">Sounds</label>
        {{ form.sounds(class_='form-control') }}
        {% for error in form.sounds.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset> #}

      <fieldset class="form-group">

        {{ form.sounds(class_='form-control', id='sounds', placeholder='Add sounds', **{'data-role':'soundsinput'}) }}
        {% for error in form.sounds.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>

      <script>
        var sounds = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: {
              url: '/static/sounds.json',
              cache: false
          }
        });
        sounds.initialize();

        var elt_sounds = $('#sounds');
        elt_sounds.tagsinput({
          itemValue: 'value',
          itemText: 'text',
          typeaheadjs: {
            name: 'sounds',
            displayKey: 'text',
            source: sounds.ttAdapter()
          }
        });
      </script>
      
      <input type="hidden" id="file-url" name="file-url">
      <fieldset class="form-group">
        <label for="upload_file">Supplementary attachment</label>

        {{ form.upload_file(class_='form-control', id="file-input") }}
        {% for error in form.upload_file.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>

      <fieldset class="form-group">
        <label for="clients">Clients</label>
        {{ form.clients(class_='form-control') }}
        {% for error in form.clients.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>

      <fieldset class="form-group">
        <label for="suppliers">Suppliers</label>
        {{ form.suppliers(class_='form-control') }}
        {% for error in form.suppliers.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>

      <fieldset class="form-group">
        {{ form.notify_by_email(type='checkbox') }} Notify by email
      </fieldset>
    </div>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Advanced description</a>
        </h3>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <fieldset class="form-group">
            {{ form.duration(class_='form-control', placeholder='Duration') }}
            {% for error in form.duration.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
          </fieldset>
          <fieldset class="form-group">
            {{ form.pitch(class_='form-control', placeholder='Pitch') }}
            {% for error in form.pitch.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-block btn-primary">Submit</button>
  </div>
</form>

{% if heroku_state %}
  <script src="/static/js/upload_file.js"></script>
{% endif %}
{% endblock %}