<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Add new sound to dababase</h1>

<!-- Description form -->
<div class="well">
<form action="" method="post" name="add_sound">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    {{ form.name(class_='form-control', placeholder='Name of tag') }}
    {% for error in form.name.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
    {% endfor %}
  </fieldset>
  <fieldset class="form-group">

    {{ form.sound_type(class_='radio-inline') }}
    {% for error in form.sound_type.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
    {% endfor %}

  </fieldset>
  <fieldset class="form-group">
    <label for="sound_family">Family</label>

    {{ form.sound_family(class_='form-control') }}
    {% for error in form.sound_family.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
    {% endfor %}

  </fieldset>
  <fieldset class="form-group">
        <label for="exampleTextarea">Description</label>

        {{ form.description(class_='form-control') }}
        {% for error in form.description.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
  <fieldset class="form-group">
    <label for="exampleTextarea">Tags</label>
    <textarea class="form-control" id="exampleTextarea" rows="2">warning, mercedes, happy, joy, metal</textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputFile">Upload file</label>
    <input type="file" class="form-control-file" id="exampleInputFile">
  </fieldset>
  <button type="submit" class="btn btn-block btn-success">Add</button>
</form>
</div>
{% endblock %}