<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>New project</h1>

<!-- Description form -->
<form action="" method="post" name="add_project" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Basic description</h3>
    </div>
    <div class="panel-body">
      <fieldset class="form-group">
        <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name of project"> -->
        {{ form.name(class_='form-control', placeholder='Name of project') }}
        {% for error in form.name.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}
      </fieldset>
      
      <fieldset class="form-group">
        <label for="exampleTextarea">Description</label>
        <!-- <textarea class="form-control" id="exampleTextarea" rows="3">Beep-like sound that gives a feeling of happiness. Not very long in duration. Wooden sound. It should give a sense of elegance, and it should sound worthy.</textarea> -->
        {{ form.description(class_='form-control', rows='6') }}
        {% for error in form.description.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
      <input type="hidden" id="file-url" name="file-url">
      <fieldset class="form-group">
        <label for="upload_file">Supplementary attachment</label>

        {{ form.upload_file(class_='form-control', id="file-input") }}
        {% for error in form.upload_file.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-block btn-primary">Submit</button>
  </div>
</form>

<script type="text/javascript">

/*
  Function to carry out the actual POST request to S3 using the signed request from the Python app.
*/
function uploadFile(file, s3Data, url){
  const xhr = new XMLHttpRequest();
  xhr.open('POST', s3Data.url);
  xhr.setRequestHeader('x-amz-acl', 'public-read');
  const postData = new FormData();
  for(key in s3Data.fields){
    postData.append(key, s3Data.fields[key]);
  }
  postData.append('file', file);
  xhr.onreadystatechange = () => {
    if(xhr.readyState === 4){
      if(xhr.status === 200 || xhr.status === 204){
        document.getElementById('file-url').value = url;
      }
      else{
        alert('Could not upload file.');
      }
    }
  };
  xhr.send(postData);
}
/*
  Function to get the temporary signed request from the Python app.
  If request successful, continue to upload the file using this signed
  request.
*/
function getSignedRequest(file){
  const xhr = new XMLHttpRequest();
  xhr.open('GET', `/sign-s3/sound?file-name=${file.name}&file-type=${file.type}`);
  xhr.onreadystatechange = () => {
    if(xhr.readyState === 4){
      if(xhr.status === 200){
        const response = JSON.parse(xhr.responseText);
        uploadFile(file, response.data, response.url);
      }
      else{
        alert('Could not get signed URL.');
      }
    }
  };
  xhr.send();
}
/*
   Function called when file input updated. If there is a file selected, then
   start upload procedure by asking for a signed request from the app.
*/
function initUpload(){
  const files = document.getElementById('file-input').files;
  const file = files[0];
  if(!file){
    return alert('No file selected.');
  }
  getSignedRequest(file);
}
/*
   Bind listeners when the page loads.
*/
(() => {
  document.getElementById('file-input').onchange = initUpload;
})();
</script>

{% endblock %}