<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

{% if assets_type == 'ongoing' %}
  <h1>Ongoing assets</h1>
{% elif assets_type == 'finished' %}
  <h1>Finished assets</h1>
{% else %}
  <h1>All assets</h1>
{% endif %}


<!-- Description form -->
<div class="well">

  <div class="list-group">
    {% for asset in assets.items %}
      {% include 'asset_entry_in_other_hands.html' %}
    {% endfor %}
  </div>

  <div style="text-align: center">{{ pagination.links }}</div>

</div>
{% endblock %}