<table class="table table-hover">
    <tr>
        <td width="70px">
        	<a href="{{ url_for('user', nickname=asset.user_in_hands.nickname) }}"><img src="{{ asset.user_in_hands.avatar(70) }}" width="70" /></a>
        </td>
        <td width="120px">
            {# <p>{% if asset.active==1 or asset.active==2 %} <strong> {% endif %} {{ asset.name }}{% if asset.active==1 %} </strong> {% endif %}</p> #}
            <p><a href="{{ url_for('asset', asset_id=asset.id) }}">{{ asset.name }}</a> <br>({{ asset.project.name }})</p>
        </td>
        <td>
            <p>{{ asset.description }}</p>
        </td>
        <td width="80px">
            <p>Ver. {{ asset.iteration_number }}</p>
        </td>
        <td width="100px">
            <p>
                {% if asset.status==1 %} 
                    Description
            	{% elif asset.status==2 %} 
            		Iteration
            	{% elif asset.status==3 %}
            		Verification
                {% elif asset.status==4 %}
                    Finished
            	{% else %}
            		In work
            	{% endif %}
            </p>
        </td>
    </tr>
</table>
