<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Asset {{ asset.name }} for project <a href="{{ url_for('project', project_id=asset.project.id) }}">{{ asset.project.name }}</a></h1>

<!-- Description form -->
<div class="well">

	<h4>ID <span class="badge">{{ asset.id }}</span> Name <span class="badge">{{ asset.name }}</span> Status <span class="badge">{{ asset.status }}</span> Finished <span class="badge">{{ asset.finished }}</span>
		Clients:
			{% for client in asset.clients[:-1] %}
		      <span class="badge"><a href="{{ url_for('user', nickname=client.nickname) }}" class="white_text">{{ client.nickname }}</a> </span>, 
		    {% endfor %}
		      <span class="badge"><a href="{{ url_for('user', nickname=asset.clients[-1].nickname) }}" class="white_text">{{ asset.clients[-1].nickname }}</a></span>&nbsp;
		Suppliers:
			{% for supplier in asset.suppliers[:-1] %}
		      <span class="badge"><a href="{{ url_for('user', nickname=supplier.nickname) }}" class="white_text">{{ supplier.nickname }}</a></span>, 
		    {% endfor %}
		      <span class="badge"><a href="{{ url_for('user', nickname=asset.suppliers[-1].nickname) }}" class="white_text">{{ asset.suppliers[-1].nickname }}</a> </span>&nbsp;
		In hands of: <span class="badge"><a href="{{ url_for('user', nickname=asset.user_in_hands.nickname) }}" class="white_text">{{ asset.user_in_hands.nickname }}</a></span> {% if asset.finished != True %}
		<a href="{{ url_for('edit_asset', asset_id=asset.id) }}">Edit</a>
	{% endif %}
	</h4>

	{% if asset.filename != None %}
		<a href="{{ attachment_location }}{{ asset.filename }}">Supplementary attachment ({{ asset.filename }})</a></br>
	{% endif %}

	{% if asset.descriptions.count() > 0 %}
		<p><strong>Descriptions:</strong></p>
		<div class="list-group">
		    {% for description in asset.descriptions %}
		      {% include 'description_entry.html' %}
		    {% endfor %}
		</div>
	{% endif %}

	{% if asset.iterations.count() > 0 %}
		<p><strong>Iterations:</strong></p>
		<div class="list-group">
		    {% for iteration in asset.iterations %}
		      {% include 'iteration_entry.html' %}
		    {% endfor %}
		</div>
	{% endif %}
	{% if asset.verifications.count() > 0 %}
		<p><strong>Verifications:</strong></p>
		<div class="list-group">
		    {% for verification in asset.verifications %}
		      {% include 'verification_entry.html' %}
		    {% endfor %}
		</div>
	{% endif %}

</div>
{% endblock %}