<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Asset {{ asset.name }}</h1>

<!-- Description form -->
<div class="well">

	<h4>ID <span class="label label-default">{{ asset.id }}</span> Name <span class="label label-default">{{ asset.name }}</span> Status <span class="label label-default">{{ asset.status }}</span> Finished <span class="label label-default">{{ asset.finished }}</span></h4>

	{% if asset.filename != None %}
		<a href="/{{ attachment_location }}{{ asset.filename }}">Supplementary attachment ({{ asset.filename }})</a> </br>
	{% endif %}

	{% if asset.descriptions.count() > 0 %}
		<h4>Descriptions:</h4>
		<div class="list-group">
		    {% for description in asset.descriptions %}
		      {% include 'description_entry.html' %}
		    {% endfor %}
		</div>
	{% endif %}

	{% if asset.iterations.count() > 0 %}
		<h4>Iterations:</h4>
		<div class="list-group">
		    {% for iteration in asset.iterations %}
		      {% include 'iteration_entry.html' %}
		    {% endfor %}
		</div>
	{% endif %}
	{% if asset.verifications.count() > 0 %}
		<h4>Verifications:</h4>
		<div class="list-group">
		    {% for verification in asset.verifications %}
		      {% include 'verification_entry.html' %}
		    {% endfor %}
		</div>
	{% endif %}

</div>
{% endblock %}