<table class="table table-hover">
    <tr>
        <td width="70px">
        	<a href="{{ url_for('user', nickname=asset.user_in_hands.nickname) }}"><img src="{{ asset.user_in_hands.avatar(70) }}" /></a>
        </td>
        <td width="70px">
            {# <p>{% if asset.active==1 or asset.active==2 %} <strong> {% endif %} {{ asset.name }}{% if asset.active==1 %} </strong> {% endif %}</p> #}
            <p><a href="{{ url_for('asset', asset_id=asset.id) }}">{{ asset.name }}</a></p>
        </td>
        <td>
            <p>{{ asset.description }}</p>
        </td>
        <td width="80px">
            <p>Ver. {{ asset.iteration_number }}</p>
        </td>
        <td width="100px">
            <p>
                {% if asset.status==1 %} 
                    <button type="button" class="btn btn-default btn-block" disabled="disabled">Description</button>
            	{% elif asset.status==2 %} 
            		<button type="button" class="btn btn-default btn-block" disabled="disabled">Iteration</button>
            	{% elif asset.status==3 %}
            		<button type="button" class="btn btn-default btn-block" disabled="disabled">Verification</button>
            	{% else %}
            		<button type="button" class="btn btn-default btn-block" disabled="disabled">In work</button>
            	{% endif %}
            </p>
        </td>
    </tr>
</table>
