<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Asset {{ asset.name }}</h1>

<!-- Description form -->
<div class="well">

Id: {{ asset.id }}
Name: {{ asset.name }}
Status: {{ asset.status }}
Finished: {{ asset.finished }}

Descriptions:
<div class="list-group">
    {% for description in asset.descriptions %}
      <a href="{{ url_for('description') }}/{{ description.id }}" class="list-group-item">{{ description.id }}</a>
    {% endfor %}
  </div>

<a href="/{{ attachment_location }}{{ asset.filename }}">Supplementary attachment</a>

</div>
{% endblock %}