<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Description {{ description.id }} for asset <a href="{{ url_for('asset', asset_id=description.asset.id) }}">{{ description.asset.name}}</a></h1>

<!-- Description form -->
<div class="well">

	<table class="table-responsive">
	    <tr>
	        <td width="80px">
	            <a href="{{ url_for('user', nickname=description.user.nickname) }}"><img src="{{ description.user.avatar(70) }}" /></a>
	        </td>
	        <td>
		        </p class="text-left">
	            	<h4>Duration: <span class="badge">{{ description.get_duration() }}</span> Pitch: <span class="badge">{{ description.get_pitch() }}</span> Type: <span class="badge">{{ description.get_sound_type() }}</span> Family: <span class="badge">{{ description.get_sound_family() }}</span>
	 
	            	{% for tag in description.tags.all() %}
	      				{% include 'tag_entry_no_numbers.html' %}
	    			{% endfor %}
	            	</h4>

	            	{% if description.description|length != 0 %} <strong>Description</strong> {{ description.description }} {% else %} No textual description was given. {% endif %}
            	</p>
	        </td>
	        
	    </tr>
	</table>

	<p><strong>Attachment:</strong></p>
	{% if description.filename != None %}
		<a href="{{ attachment_location }}{{ description.filename }}">{{ description.filename }}</a>
	{% endif %}

	{% if attachment_is_video %}
		</br>


		<div align="center" class="embed-responsive embed-responsive-16by9">
		    <video controls class="embed-responsive-item">
		        <source src="{{ attachment_location }}{{ description.filename }}" type="video/mp4">
		    </video>
		</div>
	{% endif %}

	{% if description.sounds.count() > 0 %}
		<p><strong>Sounds:</strong></p>
		{% for sound in description.sounds.all() %}
		  {% include 'sound_entry.html' %}
		{% endfor %}
	{% endif %}

</div>
{% endblock %}