<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Description of sound asset {{ asset.name }}</h1>

<!-- Description form -->
<form action="" method="post" name="describe" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Basic description</h3>
    </div>
    <div class="panel-body">
      <fieldset class="form-group">
        <!--  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Duration"> -->
        {{ form.duration(class_='form-control', placeholder='Duration') }}
        {% for error in form.duration.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}
      </fieldset>
      <fieldset class="form-group">
        <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Pitch"> -->
        {{ form.pitch(class_='form-control', placeholder='Pitch') }}
        {% for error in form.pitch.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}
      </fieldset>
      <fieldset class="form-group">
        {% for radio_item in form.sound_type %}
        <label class="radio-inline">
          {{ radio_item }} {{ radio_item.label }}
        </label>
        {% endfor %}
        {% for error in form.sound_type.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
      <fieldset class="form-group">
        <label for="sound_family">Family</label>
        {{ form.sound_family(class_='form-control') }}
        {% for error in form.sound_family.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
      <fieldset class="form-group">
        <label for="exampleTextarea">Description</label>
        <!-- <textarea class="form-control" id="exampleTextarea" rows="3">Beep-like sound that gives a feeling of happiness. Not very long in duration. Wooden sound. It should give a sense of elegance, and it should sound worthy.</textarea> -->
        {{ form.description(class_='form-control', rows='6') }}
        {% for error in form.description.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
      <fieldset class="form-group">
        <label for="upload_file">Supplementary attachment</label>

        {{ form.upload_file(class_='form-control') }}
        {% for error in form.upload_file.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>

      <fieldset class="form-group">
        {{ form.notify_by_email(type='checkbox') }} Notify by email
      </fieldset>
    </div>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Advanced description</a>
        </h3>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">Coming soon</div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-block btn-primary">Submit</button>
  </div>
</form>
{% endblock %}