<table class="table table-hover">
    <tr>
        <td width="80px">
        	<a href="{{ url_for('description', description_id=description.id) }}">ID:{{ description.id }}</a>
        </td>
        <td width="400px">
            <p>
                {% if description.description|length != 0 %} {{ description.description }}. {% else %} No textual description was given. {% endif %} Duration: <span class="badge">{{ description.get_duration() }}</span>. Pitch: <span class="badge">{{ description.get_pitch() }}</span>. Type: <span class="badge">{{ description.get_sound_type() }}</span>. Family: <span class="badge">{{ description.get_sound_family() }}</span>. Time: {{ description.timestamp.strftime('%Y-%m-%d %H:%M') }}

                {% for tag in description.tags.all() %}
                  {% include 'tag_entry.html' %}
                {% endfor %} 
                {% for sound in description.sounds.all() %}
                  <a href="{{ url_for('sound') }}/{{ sound.id }}">{{ sound.name }}</a> 
                {% endfor %}
            </p>
        </td>
        {% if description.filename != None %}
            <td>
            	<a href="/{{ attachment_location }}{{ description.filename }}">{{ description.filename }}</a>
            </td>
        {% endif %}
    </tr>
</table>