<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Description {{ description.id }}</h1>

<!-- Description form -->
<div class="well">

	<table class="table-responsive">
	    <tr>
	        <td width="80px">
	            <a href="{{ url_for('user', nickname=description.user.nickname) }}"><img src="{{ description.user.avatar(70) }}" /></a>
	        </td>
	        <td width="70px">
	            <p>{{ description.id }}</p>
	        </td>
	        <td>
            	<p>{% if description.description|length != 0 %} {{ description.description }}. {% else %} No textual description was given. {% endif %} Duration: <span class="label label-default">{{ description.get_duration() }}</span>. Pitch: <span class="label label-default">{{ description.get_pitch() }}</span>. Type: <span class="label label-default">{{ description.get_sound_type() }}</span>. Family: <span class="label label-default">{{ description.get_sound_family() }}</span>. </p>
	        </td>
	        {% if description.filename != None %}
		        <td>
		            <a href="/{{ attachment_location }}{{ description.filename }}">{{ description.filename }}</a>
		        </td>
	        {% endif %}
	    </tr>
	</table>

	<h3>Tags:</h3>
	{% for tag in description.tags.all() %}
	  {% include 'tag_entry.html' %}
	{% endfor %} 

	<h3>Sounds:</h3>
	<div class="list-group">
	    {% for sound in description.sounds.all() %}
	        {% include 'sound_entry.html' %}
	    {% endfor %}
	</div>

</div>
{% endblock %}