<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', nickname=description.user.nickname) }}"><img src="{{ description.user.avatar(70) }}" width="70"/></a>
        </td>
        <td>
            <p class="text-left">
                {% if description.description|length != 0 %} {{ description.description }} {% else %} No textual description was given. {% endif %} <strong>Duration</strong>: <span class="badge">{{ description.get_duration() }}</span> <strong>Pitch</strong>: <span class="badge">{{ description.get_pitch() }}</span> <strong>Type</strong>: <span class="badge">{{ description.get_sound_type() }}</span> <strong>Family</strong>: <span class="badge">{{ description.get_sound_family() }}</span> <strong>Time</strong>: {{ description.timestamp.strftime('%Y-%m-%d %H:%M') }}

                {% for tag in description.tags.all() %}
                  {% include 'tag_entry.html' %}
                {% endfor %} 
            </p>
        </td>
        {% if description.filename != None %}
            <td>
            	<a target="_blank" href="{{ attachment_location }}{{ description.filename }}">{{ description.filename }}</a>
            </td>
        {% endif %}
        <td width="10px">
            <a type="button" class="btn btn-block btn-xs btn-info" href="{{ url_for('description', description_id=description.id) }}">View</a>
        </td>
    </tr>
</table>