<style type="text/css">
    .table th, .table td { 
        border-top: none !important; 
    }
</style>

<table class="table">
    <tr>
        <td width="80px">
            <a href="{{ url_for('user', nickname=description.user.nickname) }}"><img src="{{ description.user.avatar(70) }}" /></a>
        </td>
        <td width="70px">
            <p>{{ description.id }}</p>
        </td>
        <td width="200px">
            <p>{% if description.description|length != 0 %} {{ description.description }}. {% else %} No textual description was given. {% endif %} Duration: <span class="label label-default">{{ description.get_duration() }}</span>. Pitch: <span class="label label-default">{{ description.get_pitch() }}</span>. Type: <span class="label label-default">{{ description.get_sound_type() }}</span>. Family: <span class="label label-default">{{ description.get_sound_family() }}</span>. Time: {{ description.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>
        </td>
        <td width="80px">
            <p>Ver. {{ asset.iteration_number }}</p>
        </td>
        {% if description.filename != None %}
             <td width="80px">
                <a href="/{{ attachment_location }}{{ verification.filename }}">Download</a>
            </td>
        {% endif %}
    </tr>
</table>