<table class="table table-hover">
    <tr>
        <td>
        	<a href="{{ url_for('description', description_id=description.id) }}">ID:{{ description.id }}</a>
        </td>
        <td>
        	{{ description.description }}
            {% for tag in description.tags.all() %}
              {% include 'tag_entry.html' %}
            {% endfor %}
        </td>
        </td>
        <td>
        	<a href="/{{ attachment_location }}{{ description.filename }}">{{ description.filename }}</a>
        </td>
    </tr>
</table>