<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Edit Your Profile</h1>
    {% include 'flash.html' %}

    <div class="well">
    <form action="" method="post" name="edit_user" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
      <div class="row" style="margin-left: -15px">
        <div class="col-md-4">
          <fieldset class="form-group">
            {{ form.nickname(maxlength=64, class_='form-control', placeholder='Your username') }}
            {% for error in form.nickname.errors %}
                <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
          </fieldset>
        </div>
        <div class="col-md-4">
          <fieldset class="form-group">
            {{ form.first_name(maxlength=64, class_='form-control', placeholder='First name') }}
            {% for error in form.first_name.errors %}
                <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
          </fieldset>
        </div>
        <div class="col-md-4">
          <fieldset class="form-group">
            {{ form.last_name(maxlength=64, class_='form-control', placeholder='Last name') }}
            {% for error in form.last_name.errors %}
                <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
          </fieldset>
        </div>
      </div>

      <fieldset class="form-group">
        <label for="exampleTextarea">About you</label>
        <!-- <textarea class="form-control" id="exampleTextarea" rows="3">Beep-like sound that gives a feeling of happiness. Not very long in duration. Wooden sound. It should give a sense of elegance, and it should sound worthy.</textarea> -->
        {{ form.about_me(class_='form-control', rows='6') }}
        {% for error in form.about_me.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}
      </fieldset>

      <fieldset class="form-group">
        {{ form.receive_emails(type='checkbox') }} Receive emails
      </fieldset>

      <input type="hidden" id="file-url" name="file-url">
      <fieldset class="form-group">
        <label for="upload_file">Avatar image</label>

        {{ form.upload_file(class_='form-control', id="file-input") }}
        {% for error in form.upload_file.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>

      <button type="submit" class="btn btn-block btn-primary">Submit</button>
    </form>
    </div>

{% if heroku_state %}
  <script src="/static/js/upload_image.js"></script>
{% endif %}
{% endblock %}
