<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Edit Your Profile</h1>
    {% include 'flash.html' %}

    <div class="well">
    <form action="" method="post" name="edit_user">
    {{ form.hidden_tag() }}
      <fieldset class="form-group">
        {{ form.nickname(maxlength=64, class_='form-control', placeholder='Your username') }}
        {% for error in form.nickname.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleTextarea">About you</label>
        <!-- <textarea class="form-control" id="exampleTextarea" rows="3">Beep-like sound that gives a feeling of happiness. Not very long in duration. Wooden sound. It should give a sense of elegance, and it should sound worthy.</textarea> -->
        {{ form.about_me(class_='form-control', rows='6') }}
        {% for error in form.about_me.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
      <button type="submit" class="btn btn-block btn-primary">Submit</button>
    </form>
    </div>

{% endblock %}
