<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}


		<!-- TODO paginate -->
		<div class="panel panel-success">
			<div class="panel-heading">Action required</div>
		  	<div class="panel-body">
				{% for asset in assets_action %}
			    	 {% include 'asset.html' %}
				{% endfor %}
			</div>
		</div>

		<!-- TODO paginate -->
		<div class="panel panel-warning">
			<div class="panel-heading">In other hands</div>
		  	<div class="panel-body">
				{% for asset in assets_otherhands %}
			    	 {% include 'asset.html' %}
				{% endfor %}
			</div>
		</div>

{% endblock %}