<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

{% if assets_description.items|length == 0 and assets_iteration.items|length == 0 and assets_verification.items|length == 0 and assets_otherhands.items|length == 0%}
<div class="well">
  No assets to show.
</div>
{% endif %}

{% if assets_description.items|length > 0 %}
<div class="panel panel-danger" id="panel1">
      <div class="panel-heading">
           <h4 class="panel-title">
      <a data-toggle="collapse" data-target="#collapseOne" 
         href="#collapseOne">
        Description
      </a>
    </h4>

      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            {% for asset in assets_description.items %}
              {% include 'asset_short.html' %}
            {% endfor %}

            <ul class="pager">
                {% if assets_description.has_prev %}
                <li class="previous"><a href="{{ url_for('index', page_description=assets_description.prev_num, page_iteration=page_iteration, page_verification=page_verification, page_otherhands=page_otherhands) }}">{{'Newer assets'}}</a></li>
                {% else %}
                <li class="previous disabled"><a href="#">{{'Newer assets'}}</a></li>
                {% endif %}
                {% if assets_description.has_next %}
                <li class="next"><a href="{{ url_for('index', page_description=assets_description.next_num, page_iteration=page_iteration, page_verification=page_verification, page_otherhands=page_otherhands) }}">{{'Older assets'}}</a></li>
                {% else %}
                <li class="next disabled"><a href="#">{{'Older assets'}}</a></li>
                {% endif %}
            </ul>

          </div>
      </div>

  </div>

{% endif %}

{% if assets_iteration.items|length > 0 %}
<div class="panel panel-warning" id="panel2">
      <div class="panel-heading">
           <h4 class="panel-title">
      <a data-toggle="collapse" data-target="#collapseTwo" 
         href="#collapseTwo">
        Iteration
      </a>
    </h4>

      </div>
      <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body">
            {% for asset in assets_iteration.items %}
              {% include 'asset_short.html' %}
            {% endfor %}

            <ul class="pager">
                {% if assets_iteration.has_prev %}
                <li class="previous"><a href="{{ url_for('index', page_description=page_description, page_iteration=assets_iteration.prev_num, page_verification=page_verification, page_otherhands=page_otherhands) }}">{{'Newer assets'}}</a></li>
                {% else %}
                <li class="previous disabled"><a href="#">{{'Newer assets'}}</a></li>
                {% endif %}
                {% if assets_iteration.has_next %}
                <li class="next"><a href="{{ url_for('index', page_description=page_description, page_iteration=assets_iteration.next_num, page_verification=page_verification, page_otherhands=page_otherhands) }}">{{'Older assets'}}</a></li>
                {% else %}
                <li class="next disabled"><a href="#">{{'Older assets'}}</a></li>
                {% endif %}
            </ul>
          </div>
      </div>
  </div>

{% endif %}

{% if assets_verification.items|length > 0 %}
<div class="panel panel-success" id="panel3">
      <div class="panel-heading">
           <h4 class="panel-title">
      <a data-toggle="collapse" data-target="#collapseThree" 
         href="#collapseThree">
        Iteration
      </a>
    </h4>

      </div>
      <div id="collapseThree" class="panel-collapse collapse in">
          <div class="panel-body">
            {% for asset in assets_verification.items %}
              {% include 'asset_short.html' %}
            {% endfor %}
            <ul class="pager">
                {% if assets_verification.has_prev %}
                <li class="previous"><a href="{{ url_for('index', page_description=page_description, page_iteration=page_iteration, page_verification=assets_verification.prev_num, page_otherhands=page_otherhands) }}">{{'Newer assets'}}</a></li>
                {% else %}
                <li class="previous disabled"><a href="#">{{'Newer assets'}}</a></li>
                {% endif %}
                {% if assets_verification.has_next %}
                <li class="next"><a href="{{ url_for('index', page_description=page_description, page_iteration=page_iteration, page_verification=assets_verification.next_num, page_otherhands=page_otherhands) }}">{{'Older assets'}}</a></li>
                {% else %}
                <li class="next disabled"><a href="#">{{'Older assets'}}</a></li>
                {% endif %}
            </ul>
          </div>
      </div>
  </div>

{% endif %}

{% if assets_otherhands.items|length > 0 %}
<div class="panel panel-default" id="panel4">
      <div class="panel-heading">
           <h4 class="panel-title">
      <a data-toggle="collapse" data-target="#collapseFour" 
         href="#collapseFour">
        In other hands
      </a>
    </h4>

      </div>
      <div id="collapseFour" class="panel-collapse collapse in">
          <div class="panel-body">
            {% for asset in assets_otherhands.items %}
              {% include 'asset_short_otherhands.html' %}
            {% endfor %}

            <ul class="pager">
                {% if assets_otherhands.has_prev %}
                <li class="previous"><a href="{{ url_for('index', page_description=page_description, page_iteration=page_iteration, page_verification=page_verification, page_otherhands=assets_otherhands.prev_num) }}">{{'Newer assets'}}</a></li>
                {% else %}
                <li class="previous disabled"><a href="#">{{'Newer assets'}}</a></li>
                {% endif %}
                {% if assets_otherhands.has_next %}
                <li class="next"><a href="{{ url_for('index', page_description=page_description, page_iteration=page_iteration, page_verification=page_verification, page_otherhands=assets_otherhands.next_num) }}">{{'Older assets'}}</a></li>
                {% else %}
                <li class="next disabled"><a href="#">{{'Older assets'}}</a></li>
                {% endif %}
            </ul>
          </div>
      </div>
  </div>

{% endif %}

{% endblock %}