<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Iteration {{ iteration.id }} for asset <a href="{{ url_for('asset', asset_id=iteration.asset.id) }}">{{ description.asset.name }}</a></h1>

<!-- iteration form -->
<div class="well">

	<table class="table-responsive">
	    <tr>
	        <td width="80px">
	            <a href="{{ url_for('user', nickname=iteration.user.nickname) }}"><img src="{{ iteration.user.avatar(70) }}" /></a>
	        </td>
	        <td width="70px">
	            <p>{{ iteration.id }}</p>
	        </td>
	        <td>
            	<p>{% if iteration.description|length != 0 %} {{ iteration.description }}. {% else %} No textual description was given. {% endif %}</p>
	        </td>
	        {% if iteration.filename != None %}
		        <td width="400px">
                <script src="/static/js/wavesurfer.min.js"></script>
                <div id="waveform_{{ iteration.id }}" onclick="wavesurfer_{{ iteration.id }}.playPause()"></div>
                <script>
                    var wavesurfer_{{ iteration.id }} = WaveSurfer.create({
                        container: '#waveform_{{ iteration.id }}',
                        waveColor: '#A8DBA8',
                        progressColor: '#3B8686',
                        backend: 'MediaElement',
                        height: 50,
                        hideScrollbar: true
                    });
                    wavesurfer_{{ iteration.id }}.load("/{{ attachment_location }}{{ iteration.filename }}");
                </script>
	            </td>
	            <td width="80px">
	                <a href="/{{ attachment_location }}{{ iteration.filename }}">Download</a>
	            </td>
	        {% endif %}
	    </tr>
	</table>

</div>
{% endblock %}