<table class="table table-hover">
    <tr>
        <td width="80px">
        	<a href="{{ url_for('iteration', iteration_id=iteration.id) }}">ID:{{ iteration.id }}</a>
        </td>
        <td width="400px">
        	{% if iteration.description|length != 0 %} {{ iteration.description }}. {% else %} No textual description was given. {% endif %} Time: {{ iteration.timestamp.strftime('%Y-%m-%d %H:%M') }}
        </td>
        {% if iteration.filename != None %}
            <td width="400px">
                <script src="/static/js/wavesurfer.min.js"></script>
                <div id="waveform_{{ iteration.id }}" onclick="wavesurfer_{{ iteration.id }}.playPause()"></div>
                <script>
                    var wavesurfer_{{ iteration.id }} = WaveSurfer.create({
                        container: '#waveform_{{ iteration.id }}',
                        waveColor: '#A8DBA8',
                        progressColor: '#3B8686',
                        backend: 'MediaElement',
                        height: 50,
                        hideScrollbar: true
                    });
                    wavesurfer_{{ iteration.id }}.load("{{ attachment_location }}{{ iteration.filename }}");
                </script>
            </td>
            <td width="80px">
                <a href="{{ attachment_location }}{{ iteration.filename }}">Download</a>
            </td>
        {% endif %}
    </tr>
</table>