<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Iteration for asset <a href="{{ url_for('asset', asset_id=asset.id) }}">{{ asset.name }}</a></h1>

{% if description != None %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Last description with <a href="{{ url_for('description', description_id=description.id) }}">ID {{ description.id }}</a></h3>
    </div>
    <div class="panel-body">
      {% include 'description_entry_no_list.html' %}
    </div>
  </div>
{% endif %}

<!-- Description form -->
<form action="" method="post" name="iterate" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Attachement and basic description</h3>
    </div>
    <div class="panel-body">
      <fieldset class="form-group">
        <label for="exampleTextarea">Description</label>
        {{ form.description(class_='form-control', rows='6') }}
        {% for error in form.description.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
      
      <input type="hidden" id="file-url" name="file-url">
      <fieldset class="form-group">
        <label for="upload_file">Sound file</label>

        {{ form.upload_file(class_='form-control', id="file-input") }}
        {% for error in form.upload_file.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>



      {#
      <fieldset class="form-group">
        {{ form.notify_by_email(type='checkbox') }} Notify by email
      </fieldset>
      #}
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-block btn-primary">Submit</button>
  </div>
</form>

{% if heroku_state %}
  <script src="/static/js/upload_file.js"></script>
{% endif %}

{% endblock %}