<style type="text/css">
    .table th, .table td { 
        border-top: none !important; 
    }
</style>

<table class="table">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', nickname=iteration.user.nickname) }}"><img src="{{ iteration.user.avatar(70) }}" width="70" /></a>
        </td>
        <td>
            <p class="text-left">{% if iteration.description|length != 0 %} {{ iteration.description }} {% else %} No textual description was given. {% endif %} <strong>Time</strong> <span class="badge">{{ iteration.timestamp.strftime('%Y-%m-%d %H:%M') }}</span></p>
        </td>
        <td width="60px">
            <p>Ver. {{ asset.iteration_number }}</p>
        </td>
        {% if iteration.filename != None %}
            <td width="200px">
                <script src="/static/js/wavesurfer.min.js"></script>
                <div id="waveform_{{ iteration.id }}" onclick="wavesurfer_{{ iteration.id }}.playPause()"></div>
                <script>
                    var wavesurfer_{{ iteration.id }} = WaveSurfer.create({
                        container: '#waveform_{{ iteration.id }}',
                        waveColor: '#A8DBA8',
                        progressColor: '#3B8686',
                        backend: 'MediaElement',
                        height: 50,
                        hideScrollbar: true
                    });
                    wavesurfer_{{ iteration.id }}.load("{{ attachment_location }}{{ iteration.filename }}");
                </script>
            </td>
        {% endif %}
    </tr>
</table>