<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <script type="text/javascript">
    function set_openid(openid, pr)
    {
        u = openid.search('<username>');
        if (u != -1) {
            // openid requires username
            user = prompt('Enter your ' + pr + ' username:');
            openid = openid.substr(0, u) + user;
        }
        form = document.forms['login'];
        form.elements['openid'].value = openid;
    }
    </script>
    {% include 'flash.html' %}
    <a href="{{ url_for('register') }}">Sign up!</a>
    <div class="well">
        <h4>Please Sign In with Custom Login</h1>
        <br>
        <form class="form-signin" role="form" method="post" action="">
          {{ form.csrf_token }}
          <p>
            {{ form.username(placeholder="username") }}
            <span class="error">
              {% if form.username.errors %}
                {% for error in form.username.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
          </p>
          <p>
          {{ form.password(placeholder="password") }}
            <span class="error">
              {% if form.password.errors %}
                {% for error in form.password.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
          </p>
          <a href="{{ url_for('reset') }}">Forgot password</a>
          <button class="btn btn-sm btn-success" type="submit">Sign in</button>
        </form>    
</div>
{% endblock %}