<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Project {{ project.name }}</h1>

<!-- Description form -->
<div class="well">

	<h4>ID <span class="badge">{{ project.id }}</span> Name <span class="badge">{{ project.name }}</span>
	{% if project.finished != True %}
		<a href="{{ url_for('edit_project', project_id=project.id) }}">Edit</a>
	{% endif %}
	</h4>

	<strong>Description</strong> {{ project.description }}

	{% if project.filename != None %}
		<a href="{{ attachment_location }}{{ project.filename }}">Supplementary attachment ({{ project.filename }})</a> </br>
	{% endif %}

	{% if project.assets.count() > 0 %}
		<p><strong>Assets:</strong></p>
		<div class="list-group">
		    {% for asset in project.assets %}
		      {% include 'asset_entry_in_other_hands.html' %}
		    {% endfor %}
		</div>
	{% endif %}

</div>
{% endblock %}