<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Project {{ project.name }}</h1>

<!-- Description form -->
<div class="well">

	<h4>ID <span class="label label-default">{{ project.id }}</span> Name <span class="label label-default">{{ project.name }}</span> <a href="{{ url_for('edit_project', project_id=project.id) }}">Edit</a></h4>

	<h4>Description:</h4>
	<p>{{ project.description }}</p>

	{% if project.filename != None %}
		<a href="/{{ attachment_location }}{{ project.filename }}">Supplementary attachment ({{ project.filename }})</a> </br>
	{% endif %}

	{% if project.assets.count > 0 %}
		<h4>Assets:</h4>
		<div class="list-group">
		    {% for asset in project.assets %}
		      {% include 'asset_entry_in_other_hands.html' %}
		    {% endfor %}
		</div>
	{% endif %}

</div>
{% endblock %}