<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Project {{ project.name }}</h1>

<!-- Description form -->
<div class="well">

<a href="{{ url_for('edit_project', project_id=project.id) }}">Edit</a>  </br>

Id: {{ project.id }} </br>
Name: {{ project.name }}  </br>
Description: {{ project.description }}  </br>

<a href="/{{ attachment_location }}{{ project.filename }}">Supplementary attachment</a> </br>

Assets:
<div class="list-group">
    {% for asset in project.assets %}
      <a href="{{ url_for('asset') }}/{{ asset.id }}" class="list-group-item">{{ asset.id }} - {{ asset.name }}</a>
    {% endfor %}
</div>


</div>
{% endblock %}