<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

{% if projects_type == 'ongoing' %}
  <h1>Ongoing projects</h1>
{% elif projects_type == 'finished' %}
  <h1>Finished projects</h1>
{% else %}
  <h1>All projects</h1>
{% endif %}

{{ type }}


<!-- Description form -->
<div class="well">

  <div class="list-group">
    {% for project in projects.items %}
      {% include 'project_entry.html' %}
    {% endfor %}
  </div>

  <div style="text-align: center">{{ pagination.links }}</div>

</div>
{% endblock %}