<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="well">
    <h1>Please Register</h1>
    <br>
    <form class="form-signin" role="form" method="post" action="">
      {{ form.csrf_token }}
    <div class="control-group{% if form.nickname.errors %} error{% endif %}">
        <label class="control-label" for="nickname">Username:</label>
        <div class="controls">
            {{ form.nickname() }}
            {% for error in form.nickname.errors %}
                <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.email.errors %} error{% endif %}">
        <label class="control-label" for="email">Email:</label>
        <div class="controls">
            {{ form.email() }}
            {% for error in form.email.errors %}
                <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.password.errors %} error{% endif %}">
        <label class="control-label" for="password">Password:</label>
        <div class="controls">
            {{ form.password() }}
            {% for error in form.password.errors %}
                <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.confirm_pass.errors %} error{% endif %}">
        <label class="control-label" for="confirm_pass">Confirm Password:</label>
        <div class="controls">
            {{ form.confirm_pass() }}
            {% for error in form.confirm_pass.errors %}
                <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
        </div>
    </div>
      <button class="btn btn-sm btn-success" type="submit">Register</button>
    </form>
</div>

{% endblock %}