<!-- extend base layout -->
<style>/* Copyright 2014 Evernote Corporation. All rights reserved. */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-register .form-register-heading {
  margin-bottom: 10px;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register input[type="username"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register #passwordField {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register #confirmPasswordField {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register #typeField {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  height: 42px;
}
.form-register input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

{% extends "base.html" %}

{% block content %}


<div class="well">
        <form class="form-register" method="post" >
        {{ form.csrf_token }}
        <h2 class="form-register-heading">Please register</h2>
        <label for="usernameField" class="sr-only">Username</label>
        {{ form.nickname(class_='form-control', type='username', placeholder='Username', id='usernameField', required="", autofocus="") }}
            <span class="error">
              {% if form.nickname.errors %}
                {% for error in form.nickname.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        <label for="emailField" class="sr-only">Email</label>
        {{ form.email(class_='form-control', type='email', placeholder='Email', id='emailField', required="") }}
            <span class="error">
              {% if form.email.errors %}
                {% for error in form.email.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        <label for="passwordField" class="sr-only">Password</label>
        {{ form.password(class_='form-control', type='password', placeholder='Password', id='passwordField', required="") }}
            <span class="error">
              {% if form.password.errors %}
                {% for error in form.password.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        <label for="confirmPasswordField" class="sr-only">Confirm password</label>
        {{ form.confirm_pass(class_='form-control', type='password', placeholder='Confirm password', id='confirmPasswordField', required="") }}
            <span class="error">
              {% if form.confirm_pass.errors %}
                {% for error in form.confirm_pass.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        <fieldset class="form-group">
          {{ form.user_type(class_='form-control', id='typeField') }}
        </fieldset>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>
      </div>
      
      <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}