<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Sounds in database</h1>

<!-- Description form -->
<div class="well">
<form>
  <fieldset class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your search phrase">
  </fieldset>

  <fieldset class="form-group">
    <label for="exampleSelect2">List of sounds</label>
    <select multiple class="form-control" id="exampleSelect2" size="10">
      <option>car-1 --- car, beep, happy</option>
      <option>car-1 --- car, beep, happy</option>
      <option>beep-open --- car, beep, happy</option>
      <option>happy-message --- happy, message, long</option>
      <option>car-52 --- car, urgent-4, metal</option>
    </select>
  </fieldset>
  <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
</form>
</div>
{% endblock %}