<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Sounds in database</h1>

<!-- Description form -->
<div class="well">
  <!-- <form>
    <fieldset class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your search phrase">
    </fieldset>
  </form> -->

  <div class="list-group">
    {% for sound in sounds %}
      <a href="{{ url_for('sound') }}/{{ sound.id }}" class="list-group-item">{{ sound.name }}</a>
    {% endfor %}
  </div>

</div>
{% endblock %}