<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}

<h1>Sound {{ sound.name }}</h1>

<!-- Description form -->
<div class="well">

	<h4>ID <span class="badge">{{ sound.id }}</span> Name <span class="badge">{{ sound.name }}</span> Type <span class="badge">{{ sound.sound_type }}</span> Family <span class="badge">{{ sound.sound_family }}</span> Legal rights <span class="badge">{{ sound.rights }}</span>

	{% for tag in sound.tags.all() %}
      {% include 'tag_entry_no_numbers.html' %}
    {% endfor %}
   	</h4>

	<strong>Description</strong> {{ sound.description }}

	<script src="/static/js/wavesurfer.min.js"></script>
	<div id="waveform"></div>

	<script>
		var wavesurfer = WaveSurfer.create({
		    container: '#waveform',
		    waveColor: '#A8DBA8',
	        progressColor: '#3B8686',
	        backend: 'MediaElement'
		});
		wavesurfer.load("{{ sound_location }}{{ sound.filename }}");
	</script>

	<div style="text-align: center">
	  	<button class="btn btn-block btn-primary" data-action="play" onclick="wavesurfer.playPause()">
		    <i class="glyphicon glyphicon-play"></i>
		    Play
		    /
		    <i class="glyphicon glyphicon-pause"></i>
		    Pause
		</button>
	</div>
</div>
{% endblock %}