<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Tags in database</h1>

<div class="well">
	<!-- <form>
	  <fieldset class="form-group">
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Start typing your tag here">
	  </fieldset>
	</form> -->

	<!-- Tag cloud -->
	<div id="tags_cloud"></div>
	<style>
		#tags_cloud {
		  margin:0 auto;
		  width:80%;
		  max-width:800px;
		  height:250px;
		}
		#tags_cloud span {
		  text-shadow: 0px 1px 1px #fff;
		}
	</style>
	<script src="/static/js/jqcloud.min.js"></script>
	<link rel="stylesheet" href="/static/css/jqcloud.min.css">
	<!-- <script src="/static/js/tags.js"></script> -->
	<script>
		var tags = (function () {
		    var json = null;
		    $.ajax({
		        'async': false,
		        'global': false,
		        'url': '/static/tags.json',
		        'dataType': "json",
		        'success': function (data) {
		            json = data;
		        }
		    });
		    return json;
		})(); 

		$('#tags_cloud').jQCloud(tags, {
		  autoResize: true,
		  fontSize: {
		    max: 0.1,
		    min: 0.02
		  },
		  delay: 50
		});
	</script>

	<!-- List of tags -->
	<div class="row" style="margin-left: 0px">
        <div class="center-block">
	        {% for tag in tags %}
		      {% include 'tag_entry.html' %}
		    {% endfor %}
        </div>
    </div>

</div>
{% endblock %}