<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Verification for asset {{ asset.name }}</h1>

<!-- Description form -->
<form action="" method="post" name="iterate" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Attachement and basic description</h3>
    </div>
    <div class="panel-body">
      <fieldset class="form-group">
        <label for="exampleTextarea">Description</label>
        <!-- <textarea class="form-control" id="exampleTextarea" rows="3">Beep-like sound that gives a feeling of happiness. Not very long in duration. Wooden sound. It should give a sense of elegance, and it should sound worthy.</textarea> -->
        {{ form.description(class_='form-control', rows='6') }}
        {% for error in form.description.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
      <fieldset class="form-group">
          <label for="upload_file">Supplementary attachment</label>

              {{ form.upload_file(class_='form-control') }}
              {% for error in form.upload_file.errors %}
                  <span class="help-inline">[{{ error }}]</span><br>
              {% endfor %}

        </fieldset>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" name="submit" class="btn btn btn-primary" style="width:49%; float: left" value="iterate">Iterate</button>
    <button type="submit" name="submit" class="btn btn btn-success" style="width:49%; float: right" value="finalise">Finalise</button>
  </div>
</form>
{% endblock %}