<style type="text/css">
    .table th, .table td { 
        border-top: none !important; 
    }
</style>

<table class="table">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', nickname=verification.user.nickname) }}"><img src="{{ verification.user.avatar(70) }}" /></a>
        </td>
        <td>
            <p class="text-left">{% if verification.description|length != 0 %} {{ verification.description }} {% else %} No textual description was given. {% endif %} <strong>Time:</strong> <span class="badge">{{ verification.timestamp.strftime('%Y-%m-%d %H:%M') }}</span></p>
        </td>
        <td>
            <p> Ver. {{ asset.iteration_number }}</p>
        </td>
        {% if verification.filename != None %}
            <td width="80px">
                <a href="{{ attachment_location }}{{ verification.filename }}">Download</a>
            </td>
        {% endif %}
    </tr>
</table>