<style type="text/css">
    .table th, .table td { 
        border-top: none !important; 
    }
</style>

<table class="table">
    <tr>
        <td width="80px">
            <a href="{{ url_for('user', nickname=verification.user.nickname) }}"><img src="{{ verification.user.avatar(70) }}" /></a>
        </td>
        <td width="70px">
            <p>{{ verification.id }}</p>
        </td width="200px">
        <td>
            <p>{{ verification.description }}</p>
        </td>
        <td width="80px">
            <p> Ver. {{ asset.iteration_number }}</p>
        </td>
        {% if verification.filename != None %}
            <td width="80px">
                <a href="/{{ attachment_location }}{{ verification.filename }}">Download</a>
            </td>
        {% endif %}
    </tr>
</table>