<!-- By Pavlo Bazilinskyy <pavlo.bazilinskyy@gmail.com> -->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Verification for asset <a href="{{ url_for('asset', asset_id=asset.id) }}">{{ asset.name }}</a></h1>

{% if iteration != None %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="{{ url_for('iteration', iteration_id=iteration.id) }}">Last iteration with ID {{ iteration.id }}</a></h3>
    </div>
    <div class="panel-body">
      {% include 'iteration_entry_no_list.html' %}
    </div>
  </div>
{% endif %}


<!-- Description form -->
<form action="" method="post" name="verify" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Attachement and basic description</h3>
    </div>
    <div class="panel-body">
      <fieldset class="form-group">
        <label for="exampleTextarea">Description</label>
        {{ form.description(class_='form-control', rows='6') }}
        {% for error in form.description.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>
      
      <input type="hidden" id="file-url" name="file-url">
      <fieldset class="form-group">
        <label for="upload_file">Supplementary attachment</label>

        {{ form.upload_file(class_='form-control', id="file-input") }}
        {% for error in form.upload_file.errors %}
        <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}

      </fieldset>

      {#
      <fieldset class="form-group">
        {{ form.notify_by_email(type='checkbox') }} Notify by email
      </fieldset>
      #}
    </div>
  </div>
  <div class="text-center">
    <button type="submit" name="submit" class="btn btn btn-primary" style="width:49%" value="iterate">Iterate</button>
    <button type="button" name="button" class="btn btn btn-success" style="width:49%" value="finalise" data-toggle="modal" data-target="#myModal">Finalise</button>
  </div>


{% if heroku_state %}
  <script src="/static/js/upload_file.js"></script>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to finalise?</h4>
      </div>

      <div class="modal-body">
       <div class="text-center">
          <button type="submit" name="submit" style="width:49%" class="btn btn-danger" value="finalise">Finalise</button>
          <button type="button" data-dismiss="modal" style="width:49%" class="btn" class="btn">Cancel</button>
        </div>
        
          
      </form>
      </div>
      
      <div class="modal-footer">

      </div>
    </div>
    
  </div>
</div>

{% endblock %}