<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<h1>Verification {{ verification.id }} for asset <a href="{{ url_for('asset', asset_id=verification.asset.id) }}">{{ verification.asset.name }}</a></h1>

<!-- verification form -->
<div class="well">

	<table class="table-responsive">
	    <tr>
	        <td width="80px">
	            <a href="{{ url_for('user', nickname=verification.user.nickname) }}"><img src="{{ verification.user.avatar(70) }}" /></a>
	        </td>
	        <td>
            	<p class="text-left">{% if verification.description|length != 0 %} <strong>Description</strong> {{ verification.description }} {% else %} No textual description was given. {% endif %}</p>
	        </td>
	        {% if verification.filename != None %}
		        <td>
		            <a target="_blank" href="{{ attachment_location }}{{ verification.filename }}">{{ verification.filename }}</a>
		        </td>
	        {% endif %}
	    </tr>
	</table>

</div>
{% endblock %}