<table class="table table-hover">
    <tr>
        <td width="80px">
        	<a href="{{ url_for('verification', verification_id=verification.id) }}">ID:{{ verification.id }}</a>
        </td>
        <td width="400px">
        	{% if verification.description|length != 0 %} {{ verification.description }}. {% else %} No textual description was given. {% endif %} Time: {{ verification.timestamp.strftime('%Y-%m-%d %H:%M') }}
        </td>
        {% if verification.filename != None %}
            <td>
                <a href="{{ attachment_location }}{{ verification.filename }}">{{ verification.filename }}</a>
            </td>
        {% endif %}
    </tr>
</table>